// trying to set the defaults for the page, but it's not working
$color-primary: #fbc02d;
$color-primary-dark: #f57f17;
$color-accent: $palette-red-700;
$color-primary-contrast: rgba(0, 0, 0, .1);
$color-accent-contrast: rgba(0, 0, 0, .8);


// shades of yellow
// $primary-light: #FFEE58;
// $primary: #fbc02d;
// $primary-dark: #f57f17;

// test
$primary-light: #D32F2F;
$primary: #B71C1C;
$primary-dark: #B71C1C;
$secondary-light: #FFF59D;
$secondary: #FFC107;
$secondary-dark: #B71C1C;


// shades of red
// $secondary-light: #EF5350;
// $secondary: #D32F2F;
// $secondary-dark: #B71C1C;

// text color
$color-text-light: rgba(0, 0, 0, .1);
$color-text-dark: rgba(0, 0, 0, .7);

//
$back-ground-dark:

$white: #fff;
$black: #000;
$off-white: rgba(0, 0, 0, .03);
$off-grey: rgba(0, 0, 0, .1);
