// trying to set the defaults for the page, but it's not working
$color-primary: #fbc02d;
$color-primary-dark: #f57f17;
$color-accent: $palette-red-700;
$color-primary-contrast: rgba(0, 0, 0, .1);
$color-accent-contrast: rgba(0, 0, 0, .8);


// shades of yellow
// $primary-light: #FFEE58;
// $primary: #fbc02d;
// $primary-dark: #f57f17;

// test
$primary-light: #FF7043;
$primary: #BF360C;
$primary-dark: #BF360C;
$secondary-light: #E6EE9C;
$secondary: #AEEA00;
$secondary-dark: #9E9D24;


// shades of red
// $secondary-light: #EF5350;
// $secondary: #D32F2F;
// $secondary-dark: #B71C1C;

// text color
$color-text-light: rgba(0, 0, 0, .1);
$color-text-dark: rgba(0, 0, 0, .6);

//
$background-dark: #90A4AE;
$background-light:  #F5F5F5;

$white: #fff;
$black: #000;
$off-white: #F5F5F5;
$off-grey: rgba(0, 0, 0, .1);
