// centers Log-in forms in center of page
.my-auth-card {
  margin: 8% auto;
}

// adds padding around form for aesthetics
main form {
  padding: 30px;
  background: $white;
}

// necessary for input animation to align with bottom-border
.mdl-textfield__label {
  margin-bottom: 0;
}

// Sets color of form header background and text
.my-form-header {
  background-color: $primary;
  color: $white !important;
}

// sets font color and weight of button text
.my-button {
  color: $white !important;
  font-weight: 500 !important;
}

// Sets background color and height of form footer
.my-form-footer {
  background-color: $primary;
  height: 35px;
}

// Vertically centers text in forms
.my-form-footer p {
  padding-left: 15px;
  line-height: 35px;
  color: $white;
}

.sign-up-link {
  padding-left: 5px;
  color: $secondary;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    font-size: 16px;
  }
}
