$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~material-design-lite/src/color-definitions';

@import 'colors';
@import 'header';
@import 'left-menu';
@import 'forms';
@import 'typography';
@import 'body';
@import 'playlist';
@import 'mdl-grid';
@import 'contest';

// Over-writes Material Design Lite defaults
$default-item-hover-bg-color: $secondary;
$default-item-text-color: $secondary-light;
$button-primary-color: $secondary;
// Input form defaults
$input-text-bottom-border-color: $primary-light;
$input-text-highlight-color: $secondary;
$input-text-label-color: $color-text-dark;

// over-write margins
$grid-desktop-margin: 4px;
$grid-tablet-margin: 4px;
$grid-phone-margin: 4px;

@import '~material-design-lite/src/material-design-lite';
