.my-search-card {
  background: $secondary-light-tt !important;
  float:left;
}

// makes it so title of search result songs stays on one line,
// so every cards stays same size, and
// float left doesn't result on weird behavior
div.my-search-title.mdl-card__title {
  overflow: hidden !important;
  white-space: nowrap !important;
  color: $white !important;
}

div.search-results-header {
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 22px 0 27px 0 !important;
}

// sets color and position of button that clears search results
.my-clear-button {
  float: right;
  top: -6px !important;
}
.my-clear-button:hover {

}
